.main__search-results {
  margin-top: 78px;
  margin-bottom: -55px;
  margin-left: 34px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.main__show-more-button {
  padding: 0.75rem 3.5rem;
  margin-left: 36rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
  border-radius: 100px;
  border: 1px solid white;
  background: #d1d2d6;
  color: #1a1b22;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  cursor: pointer;
}

.main__show-more-button:hover {
  background-color: #e8e8e8;
}
.main {
  margin: 0;
}

.main__no-results-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 374px;
}

.main__no-results-title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}

.main__no-results-description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  max-width: 234px;
  text-align: center;
}
@media (max-width: 768px) {
  .main__search-results {
    margin-top: 32px;
    margin-left: 16px;
  }
  .main__show-more-button {
    max-width: 90vw;
    width: 100%;
    min-height: 56px;
    margin-left: 16px;
    margin-top: 130px;
    background-color: #ffffff;
    padding: 1rem;
  }
}
