.navigation {
  display: flex;
  align-items: center;
  gap: 3vw;
  justify-content: flex-end;
}

.navigation__home-btn {
  border: none;
  color: white;
  background: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
}

.navigation__home-btn-black {
  color: black;
}
.navigation__saved-articles-btn {
  border: none;
  color: white;
  background: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
}

.navigation__saved-articles-btn-black {
  color: black;
}
